body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.flex-grid {
  width: 80vh;
  height: 80vh;

  border: 4px solid indigo;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80vh / 16);
  height: calc(80vh / 16);
  margin: 0;
  padding: 0;
}

.slider-container {
  display: flex;
  margin: 200px;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(209, 28, 215);
  height: 10px;
}

input[type="range"]::-moz-range-track {
  background: #4b0ee6;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background: rgb(107, 4, 203);
  margin-top: -6px;
  box-shadow: 1px 2px 2px rgb(214, 189, 212);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  background: rgb(107, 4, 203);
  margin-top: -6px;
  box-shadow: 1px 2px 2px rgb(214, 189, 212);
}

button {
  font-family: "VT323", monospace;
  font-size: 24px;
  color: rgb(107, 4, 203);
  height: auto;
  padding: 10px;
  font-family: "VT323";
  background-color: rgb(209, 28, 215);
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  cursor: pointer;
}
