body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grid {
  width: 80vh;
  height: 80vh;

  border: 4px solid indigo;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(80vh / 16);
  height: calc(80vh / 16);
  margin: 0;
  padding: 0;
}

.col-hoover {
  background-color: blue;
}
